/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 22, 2026, 12:41:39 PM
    Author     : Admin
*/

.software-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: white;
}

.card-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.software-img {
    width: 90px;
    border-radius: 12px;
}

.meta {
    color: #94a3b8;
    font-size: 14px;
}

.desc {
    font-size: 14px;
    margin-top: 5px;
}

.status-badge {
    background: #facc15;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.start-btn {
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg,#6366f1,#8b5cf6);
    color: white;
}