<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameController</servlet-name>
        <servlet-class>Controller.GameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppController</servlet-name>
        <servlet-class>Controller.AppController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryController</servlet-name>
        <servlet-class>Controller.LibraryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>Controller.NewsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameController</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppController</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryController</servlet-name>
        <url-pattern>/library</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
</web-app>
